<% provide(:title,'Index page') %>

<h1 style="margin-top:150px;margin-left: 650px">Sign In!</h1>
<div class="center hero-unit" style="float:left;margin-top : 170px;margin-left :580px">
  <div style="float:left;">
    <%= link_to image_tag("rails.png", :height => 60, :width => 60) %>
    <%=	 form_for(@user, :url => users_user_create_path, :method => "POST")  do |f| %>

        <div>
          <%=	 f.label:Username %>
        </div>
        <div>
          <%= f.text_field :email  %>
        </div>
        <div>
          <%=	 f.label:Password %>
        </div>
        <div>
          <%= f.password_field :password %>
        </div>
        
        <div>
          <%= f.submit :submit ,:class => "btn btn-large btn-info"%>
        </div>

    <% end %>
  </div>
</div>