<%	 provide(:title,'Sign Up') %>
<div class="center hero-unit" style="float:left;margin-top : 170px;margin-left :580px">
  <div style="float:left;">
    <%= link_to image_tag("rails.png", :height => 60, :width => 60) %>
    <!--<ul>-->
      <!--<h2>Not able to Sign Up.These could be the reasons</h2>-->
      <!--<li>Wrong username</li>-->
      <!--<li>User already present</li>-->
      <!--<li>Password less than 6 characters</li>-->
    <!--</ul>-->
    <%=	 form_for(@user, :url => users_user_create_path, :method => "POST")  do |f| %>
        <%=	 render 'users/error_messages' %>
        <div>
          <%=	 f.label:Name %>
        </div>
        <div>
          <%= f.text_field :name  %>
        </div>
        <div>
          <%=	 f.label:Username %>
        </div>
        <div>
          <%= f.text_field :email  %>
        </div>
        <div>
          <%=	 f.label:Password %>
        </div>
        <div>
          <%= f.password_field :password %>
        </div>
        <div>
          <%=	 f.label:Confirm_password %>
        </div>
        <div>
          <%= f.password_field :password_confirmation  %>
        </div>
        <div>
          <%= f.submit :submit ,:class => "btn btn-large btn-info"%>
        </div>

    <% end %>
  </div>
</div>