<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title))  %></title>
  <link href= "assets/stylesheets/bootstrap.css" rel="stylesheet">
  <!--<link href= "assets/css/custom.css.scss" rel="stylesheet">-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SAMPLE APPLICATION","", :class => "btn btn-large btn-danger" %>
      <%=	flash.each do |key,value|  %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <nav>
        <ul class="nav pull-right">
         <%= render :partial => 'shared/header' %>


        </ul>
      </nav>
    </div>
  </div>
</header>

<div>

  <%= yield %>

</div>
</body>
</html>
